<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/table.css}" />
</head>
<body>
<div align="center">
    <h1>Edit Customer</h1>
    <a href="/">Go Back</a>
    <br />
    <form action="#" th:action="@{/save}" th:object="${customer}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Customer ID:</td>
                <td>
                    <input type="text" th:field="*{customerId}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>
                    <input type="text" th:field="*{owner}"/>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}"/></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" th:field="*{phoneNumber}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>