<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">CodeCouple Newsletter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
            <form action="#" th:action="@{/saveMail}" th:object="${mail}" method="post" >
                <tr>
                    <td>Email:</td>
                    <td>
                        <input type="text" th:field="*{address}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>Message Subject:</td>
                    <td>
                        <input type="text" th:field="*{subject}"/>
                    </td>
                </tr>
                <tr>
                    <td>Message text:</td>
                    <td>
                        <input type="text" th:field="*{text}"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Send</button></td>
                </tr>
            </form>
    </div>
</body>
</html>